<div class="bandeau">
  <h1>{{ title }}</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <ng-content select=".tr-col1"></ng-content>
    </div>
    <div class="col-12 col-md-6">
      <ng-content select=".tr-col2"></ng-content>
    </div>
  </div>
</div>
<!-- <div class="my-container-fluid">
  container fluid
</div>
<div class="my-container">
  <div class="my-row">
    <div class="my-col-12">
      Ratione magni dolores, alias tempora provident velit
    </div>
    <div class="my-col-12 my-col-sm-6 my-col-lg-3 my-col-xl-4 my-col-xxl-6">
      Ratione magni dolores, alias tempora provident velit
    </div>
    <div class="my-col-12 my-col-sm-6 my-col-lg-3 my-col-xl-4 my-col-xxl-6">
      Ratione magni dolores, alias tempora provident velit
    </div>
    <div class="my-col-12 my-col-md-6 my-col-lg-3 my-col-xl-4 my-col-xxl-6">
      Ratione magni dolores, alias tempora provident velit
    </div>
    <div class="my-col-12 my-col-md-6 my-col-lg-3 my-col-xl-12 my-col-xxl-6">
      Ratione magni dolores, alias tempora provident velit
    </div>
  </div>
</div>
<div class="my-container">
  <h1>un très jolie titre</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus rem quaerat sunt deleniti quasi nesciunt
    suscipit ad impedit voluptas optio delectus rerum itaque libero ut, saepe culpa ducimus ea ex.</p>
</div> -->
