.sign-out {
  background: var(--app-light);
  display: inline-block;
  border-radius: 19px;
  border: 1px solid var(--app-primary);
  padding: 0px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background: var(--app-primary);
    color: var(--app-light);
  }
}

.fonts-size {
  span {
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
    cursor: pointer;
  }
  span:first-child {
    font-size: 20px;
    margin-right: 10px;
  }
  span:last-child {
    font-size: 16px;
    margin-right: 10px;
  }
  font-size: 20px;
}
