:root {
  --app-light: rgb(255, 255, 255);
  // --app-light: rgb(201, 200, 200);
  --app-main-bg-color: rgb(230, 230, 230);
  // --app-main-bg-color: rgb(177, 176, 176);
  --app-aside-bg-color: rgb(197, 197, 197);
  // --app-aside-bg-color: rgb(80, 80, 80);
  --app-line-color: rgb(230, 230, 230);
  --app-line-color-lighter: rgb(240, 239, 239);

  // pour les couleurs de typos
  --app-dark: rgb(31, 31, 31);

  // charte graphique et déclinaisons
  --app-primary: rgb(105, 22, 97);
  --app-primary-dark: rgb(56, 5, 51);
  --app-secondary: rgb(151, 225, 248);

  // pour les boites d'alert
  --app-error: rgb(226, 68, 92);
  --app-warning: rgb(253, 171, 61);
  --app-success: rgb(0, 200, 117);
}
