.state-canceled {
  background: var(--app-error);
}
.state-option {
  background: var(--app-warning);
}
.state-confirmed {
  background: var(--app-success);
}
.state-paid {
  background: var(--app-primary);
}
