.state-canceled {
  background: var(--app-error);
}
.state-option {
  background: var(--app-warning);
}
.state-confirmed {
  background: var(--app-success);
}
.state-paid {
  background: var(--app-primary);
}

td:first-child {
  min-width: 70px;
}

.tr-head > div > * {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
