<form [formGroup]="form" (ngSubmit)="register()" class="container">
  <div class="row">

    <div class="mb-2 col-12 col-md-6">
      <label for="firstname" class="form-label">First Name</label>
      <input formControlName="firstname" type="text" class="form-control" id="firstname">
      <div *ngIf="form.controls['firstname'].invalid && (form.controls['firstname'].touched || errorMsg)"
        class="alert alert-danger">invalid field</div>
    </div>

    <div class="mb-2 col-12 col-md-6">
      <label for="lastname" class="form-label">Last Name</label>
      <input formControlName="lastname" type="text" class="form-control" id="lastname">
      <div *ngIf="form.controls['lastname'].invalid && (form.controls['lastname'].touched || errorMsg)"
        class="alert alert-danger">invalid field</div>
    </div>

    <div class="mb-2 col-12 col-md-6">
      <label for="email" class="form-label">Email</label>
      <input formControlName="email" type="text" class="form-control" id="email">
      <div *ngIf="form.controls['email'].invalid && (form.controls['email'].touched || errorMsg)"
        class="alert alert-danger">invalid
        field</div>
    </div>

    <div class="mb-2 col-12 col-md-6">
      <label for="grant" class="form-label">Grant</label>
      <select formControlName="grants" class="form-control" id="grant">
        <option *ngFor="let state of states" [ngValue]="state">{{ state }}</option>
      </select>
      <div *ngIf="form.controls['grants'].invalid && (form.controls['grants'].touched || errorMsg)"
        class="alert alert-danger">invalid
        field</div>
    </div>

    <div class="mb-2 col-12" *ngIf="!init.email">
      <label for="password" class="form-label">Password</label>
      <input formControlName="password" type="text" class="form-control" id="password">
      <div *ngIf="form.controls['password'].invalid && (form.controls['password'].touched || errorMsg)"
        class="alert alert-danger">invalid
        field</div>
    </div>



    <div class="mb-2 col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>
