<app-template-full-width [title]="title" *ngIf="collection$ | async as collection">

  <app-tab-light [headers]="headers">
    <tr *ngFor="let item of collection">
      <td>{{ item.username }}</td>
      <td>{{ item.mail }}</td>

      <td>
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states | keyvalue" [value]="state.key" [selected]="item.grants === state.key">{{
            state.value }}
          </option>
        </select>
      </td>
    </tr>
  </app-tab-light>

  <app-btn-route class="ms-3" route="add" text="Add Order"></app-btn-route>

</app-template-full-width>
