<div class="d-flex flex-column ui">
  <header class="d-flex align-items-center">
    <div>
      <span (click)="toggle()" *ngIf="user">
        <div *ngIf="!open; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <ng-content select=".tr-open"></ng-content>
        </ng-template>

        <ng-template #elseBlock>
          <ng-content select=".tr-close"></ng-content>
        </ng-template>
      </span>
    </div>
    <div class="flex-grow-1">
      <ng-content select=".tr-header"></ng-content>
    </div>
  </header>
  <main [ngClass]="{'close-nav': !open || !user}" class="flex-grow-1 d-flex">
    <aside class="position-fixed">
      <nav>

        <ng-content select=".tr-nav"></ng-content>

      </nav>
    </aside>
    <div class=" shadow position-fixed" *ngIf="open" (click)="toggle()">
    </div>
    <div class="flex-grow-1 d-flex flex-column content">
      <div class="flex-grow-1">
        <ng-content select=".tr-content"></ng-content>
      </div>
      <footer>
        <ng-content select=".tr-footer"></ng-content>
      </footer>
    </div>
  </main>
</div>
