a {
  background: var(--app-primary);
  color: var(--app-light);
  &:hover {
    background: var(--app-primary-dark);
    color: var(--app-light);
  }
  span {
    display: inline-block;
    margin-right: 5px;
  }
  &.btn-sm {
    border-radius: 1em;
  }
}
