a {
  border-top: 1px solid var(--app-line-color-lighter);
  border-bottom: 1px solid var(--app-line-color);
  color: var(--app-dark);
  padding: 1em;
  min-height: 100px;
  transition: all 0.2s;
  &:hover,
  &:focus,
  &.active {
    color: var(--app-primary);
  }
  & > * {
    font-size: 25px;
  }
  span {
    margin-left: 5px;
    font-size: var(--app-regular-fs);
  }
}
li:last-child a {
  border-bottom: none;
}
ul {
  overflow-y: auto;
}
