<ul class="nav flex-column">

  <li class="nav-item">
    <a class="nav-link d-flex flex-column align-items-center justify-content-center" routerLink="orders"
      routerLinkActive="active">
      <app-icon-list-items></app-icon-list-items>
      <span>Orders</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link d-flex flex-column align-items-center justify-content-center" routerLink="clients"
      routerLinkActive="active">
      <app-icon-list-clients></app-icon-list-clients>
      <span>Clients</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link d-flex flex-column align-items-center justify-content-center" routerLink="users"
      routerLinkActive="active">
      <app-icon-list-users></app-icon-list-users>
      <span>Users</span>
    </a>
  </li>

</ul>
